.calendar {
  // &__row {
  //   min-height: $calendar-row-size;
  // }
    &__row--bg-color {
        &:nth-child(odd) {
        background-color: $light-grey;
      }
    }
    &__row-content {
      height: 100%;
    }
}

// .calendar-event-container {
//   display: grid;
  
// }

.activity-bg-color {
  background-color: purple;
  &:nth-child(odd) {
    background-color: purple;
  }
}