.calendar {
  // &__row {
  //   min-height: $calendar-row-size;
  // }
    &__row--bg-color {
        &:nth-child(odd) {
        background-color: $light-grey;
      }
    }
    &__row-content {
      height: 100%;
    }
    &__all-day-event {
      border-radius: 2px;
      padding: 3px;
      height: $calendar-all-day-event-height;
      flex: 0 0 100%;
      // max-width: $calendar-column-width;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &-empty-space {
        min-height: $calendar-all-day-event-height;
      }
    }
}

// .calendar-event-container {
//   display: grid;
  
// }

.activity-bg-color {
  background-color: purple;
  &:nth-child(odd) {
    background-color: purple;
  }
}

.calendar-date-selector {
  font-size: 2rem;
  &__button {
    &:first-child {
      margin-right: 5px;
    }
  }
}