.calendar {
  &__row {
    min-height: 75px;
  }
    &__row--bg-color {
        &:nth-child(odd) {
        background-color: $light-grey;
      }
    }
}

// .calendar-event-container {
//   display: grid;
  
// }

.activity-bg-color {
  background-color: purple;
  &:nth-child(odd) {
    background-color: purple;
  }
}