.daily-calendar-view {
  &__start-time {
    padding: 1px;
    color: $grey;
    opacity: 0.7;
  }
  &__day-of-week {
    text-align: center;
    margin-bottom: 5px;
  }
  &__day-of-month {
    color: $grey;
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 0;
    opacity: 0.5;
    text-align: center;
  }
}
