.show-for-mobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  @media (max-width: $desktop-breakpoint - .01rem) {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.opacity-full {
  opacity: 1;
}

.opacity-none {
  opacity: 0;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}