.week-view {
  &__month {
    text-align: center;
    // display: grid;
    // grid-template-columns: 48% 52%;
    // grid-template-rows: 1 auto;
    &-display {
      // display: inline-block;
      font-size: 2rem;
      margin-bottom: 0;
      // margin-right: 10px;
      // text-align: left;
    }
    &-selector {
      margin-bottom: 5px;
      // align-items: center;
      // display: inline-block;
      // display: flex;
      // justify-content: flex-end;
      // text-align: right;
    }
  }
}

.week-view-container {
  display: grid;
  grid-template-rows: 1 auto;
  grid-template-columns: repeat(7, 1fr);
  // grid-gap: 5px;
}

.week-view-item {
  border-left: 1px solid $calendar-transparent-grey;
  border-top: 1px solid $calendar-transparent-grey;
  border-bottom: 1px solid $calendar-transparent-grey;
  &:first-child {
    margin-left: 5px;
  }
  &:last-child {
    border-right: 1px solid $calendar-transparent-grey;
    margin-right: 5px;
  }
}
