// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-grey: #efeded;
$transparent-white: rgba(255, 255, 255, 0.5);

// Calendar Background Colors
$calendar-red: #f74c4c;
$calendar-light-blue: #4c93f7;
$calendar-dark-blue: #0011ff;
$calendar-pink: #ff70f9;
$calendar-teal: #70e0ff;
$calendar-light-green: #70ffad;
$calendar-yellow: #f7ff70;
$calendar-orange: #ffcf70;
$calendar-purple: #cf70ff;
$calendar-grey: #cecece;
$calendar-transparent-grey: rgba(0, 0, 0, 0.1);

// Calendar Row Sizing
$calendar-row-size: 75px;
$calendar-all-day-event-height: 31px;
$calendar-column-width: 100px;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
